body{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    background-color: antiquewhite;
}

.container{
    display: flex;
    justify-content: center;
}

.stock-search-bar{
    margin-top: 10%;
}
